.aboutPage {
    background-color: rgb(30, 126, 235);
    .h2, .h3, p{
        color: white;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .name{
        
        margin-bottom: 20px;
        
    }
    .companyDesc {
        text-align: center;
        border-bottom: 1px solid white;
        
    }
}