.menu{
   
    ul{
        display: flex; 
        justify-content: space-evenly;
        align-items: center;
        list-style-type: none;
        a{
            height: 70px;
            padding: 0 5px;
            text-decoration: none;
            font-size: 15px;
            color: white;
            line-height: 70px;
            text-transform: uppercase; 
    }          
        a.active{
            color: rgb(43, 38, 213);
        }
             
    }
}
nav.navigation {
    height: 100%;
    ul{
        height: 100%;
        margin-bottom: 0;
        a{
            text-decoration: none;
        }
    }
}

.categories{
    position: relative;
    .submenu{
        height: 140px;
        width: 140px;
        padding: 0;
        left: -30px;
        position: absolute;
        display: flex;
        display: none;
        flex-direction: column;
        z-index: 1;
        background-color: rgb(8, 8, 44);
        li{
            padding: 0;
            margin: 5px 0;
            width: 80px;
            height: 25px;
            line-height: 25px;
            a{
                height: 25px;
                line-height: 25px;
                text-decoration: none;
                
            }
        }
        li:hover {
            font-weight: bold;
            border-bottom: none;
        }
    }
}
.categories:hover .submenu {
    display: flex;
    border-top: 3px solid white;
}
// .menu ul li.categories:hover{
//     border-bottom: none;
// }


