.menu{
   
    ul{
        display: flex; 
        justify-content: center;
        column-gap: 30px;
        align-items: center;
        list-style-type: none;
        a{
            height: 70px;
            padding: 0 5px;
            text-decoration: none;
            font-size: 15px;
            color: white;
            line-height: 70px;
            text-transform: uppercase; 
    }          
        a.active{
            color: rgb(43, 38, 213);
            i{
                border: solid rgb(43, 38, 213);
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 2px;
                margin: 3px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
        }
             
    }
}
nav.navigation {
    height: 100%;
    ul{
        height: 100%;
        margin-bottom: 0;
        a{
            text-decoration: none;
        }
    }
}
.menu li i {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.categories{
    position: relative;
    .submenu{
        height: 140px;
        width: 140px;
        padding: 0;
        left: -30px;
        position: absolute;
        display: flex;
        display: none;
        flex-direction: column;
        z-index: 1;
        background-color: rgb(8, 8, 44);
        box-shadow: 0px 2px 8px 0px rgb(142, 142, 142);
        li{
            padding: 0;
            margin: 5px 0;
            width: 80px;
            height: 25px;
            line-height: 25px;
            a{
                height: 25px;
                line-height: 25px;
                text-decoration: none;
                
            }
        }
        li:hover {
            font-weight: bold;
            border-bottom: none;
        }
    }
}
.categories:hover .submenu {
    display: flex;
    border-top: 3px solid white;
}

.MuiSvgIcon-root{
    position: relative;
}
.likeCount{
    position: absolute;
    right: 131px;
   
}
