.logo-information{
    width: 25%;
     padding-top: 20px; 
    p{
        font-size: 14px;
        color: white;
        line-height: 20px;
        padding-top: 20px;
    }
    
   .logo{
    text-align: center;
    width: 100%;
        img {
            max-height: 30px;
        }
    } 
}
