.categoriesPage {
    background-color: #cbdcf5;
}
.categoriesTitle{
    background-color: rgb(16, 16, 66);
    text-align: center;
    height: 100px;
        .h1{
        text-transform: uppercase;
        font-size: 22px;
        color: white;
        line-height: 60px;
    }
}
.blockArticles{
    display: flex;
    column-gap: 40px;
    margin: 30px;
                      
        .articles-img{
            
            padding-top: 20px;
            padding-bottom: 20px;
            img{
                width: 350px;
                height: 280px;
                cursor: pointer;
            }
       }
        p{
            font-size: 16px;
            line-height: 20px;
           
        }
        .text:hover{
            color:  #70a4f3;
            }
        .text{
            margin-bottom: 10px;
            border-bottom: 2px solid transparent;
            cursor: pointer;
            font-weight: bold;
            color:  #0b5ed7;
        }
        .context {
            padding-left: 10px;
            padding-right: 10px;
            text-align: justify;
            text-indent: 15px;
            font-size: 12px;
        }
        .data{
            font-size: 10px;
            color: rgb(198, 200, 200);
        }
        .do-you-like{
            display: flex;
            justify-content: start;
            column-gap: 20px;
            padding-right: 5px;
            padding-bottom: 55px;
            
            p{
                font-size: 14px;
                color: rgb(80, 81, 81); 
                margin-bottom: 0;
            }
            .like{
                width: 20px;
                height: 20px;
                background-image: url(../../assets/images/like.png);
                background-repeat: no-repeat;
                background-position: center;
                align-self: center;
            }
            
        }
    }
    .title{
        text-align: center;
    }
    .description {
        padding-top: 30px;
    }