.footer-information{
    background-color: rgb(8, 8, 44);
    padding-top: 10px;
    border-bottom: 0.5px solid white;
            
}
.footer {
    background-color: rgb(8, 8, 44);
    .row-footer{
        align-items: center;
        justify-content: space-between;
        .logo-footer{
     
       p{
        font-size: 14px;
        color: #c1c1c1;
        padding-top: 15px;
       } 
      }
    }
}
.footer-container {
    display: flex;
}
.row-footer {
    display: flex;
}