.social-media {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 10px;
    div {
        height: 25px;
        width: 25px;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    
    .wiFi {
        background-image: url(../../assets/images/wiFi.png);
        background-position: center;
    }
    .facebook {
        background-image: url(../../assets/images/facebook.png);
        background-position: center;
    }
    .twitter {
        background-image: url(../../assets/images/twitter.png);
        background-position: center;
    }
    .in {
        background-image: url(../../assets/images/in.png);
        background-position: center;
    }
}   

