.links-information{
    width: 25%;
    padding-top: 20px;
    padding-left: 60px;
    
    p{
        color: white;
        line-height: 30px;
        padding-left: 30px;
    }
    .h5{
        display: block;
        padding-bottom: 10px;
        text-decoration: underline;
    }
    ul{
        list-style: none;
        padding-left: 50px;
        li{
            cursor: pointer;
            a{
                color: rgba(253, 251, 253, 0.5);
                text-decoration: none;
                font-size: 14px;
                line-height: 30px;
            }
        }
        li:hover{
            a{
                color: white;
                border-bottom: 1px solid white;
            }
        }
    }
}

